.policyContainer {
    max-width: 60%;
    min-width: 860px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
}

.policyContainer h4 {
    color: var(--primary-500);
    margin-top: 10px;
    margin-bottom: 5px;
}

.policyContainer p {
    line-height: 22px;
    text-align: justify;
    margin: 10px 0px 10px 0px;
}

.policyContainer ul, ol{
    margin-top: 10px;
    padding-left: 50px;
}

.policyContainer li {
    line-height: 22px;
    text-align: justify;
}

.policyContainer ol>li{
    margin-top: 10px;
}

.terms{
    color: var(--primary-500);
    font-size: 30px;
    font-weight: 700;
}